body {
  color: $text-regular;
}

body * {
  font-family: $font-family-sans-serif;
}

a {
  color: $primary;
  text-decoration: none !important;
  font-weight: 400;
  &:hover {
    color: $primary;
    font-weight: 500;
  }
}

a.blank, .blank > a {
  opacity: .8;
  color: black;
  &:hover {
    opacity: 1;
    color: $black;
  }
}

code {
  padding: 3px;
  background: #ececec;
  margin: 0 3px;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

pre > code {
  border-left: 0 !important;
  box-shadow: 0 0 !important;
  background-image: none !important;
}

pre[class*="language-"]:before, pre[class*="language-"]:after {
  display: none !important;
}

#app {
  position: relative;
  min-height: fit-content;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.font-header {
  font-family: $font-family-sans-serif;
}

.font-base {
  font-family: $font-family-sans-serif;
}

.abs-full {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rel {
  position: relative !important;
}

.abs {
  position: absolute !important;
}

.bg-center {
  background-position: center !important;
  background-size: cover !important;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $overlay;
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.overlay.white {
  background-color: rgba(255,255,255, .15);
}

.overlay.light {
  opacity: .8;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.no-overflow {
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.z-depth-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.z-depth-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.z-depth-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.z-depth-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.z-depth-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.z-hover:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.with-border {
  border-top: #efefef 1px solid;
}

.dot-dot-dot {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.flex-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.flex-align-row {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.flex-align-column {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.with-header {
  margin-top: 58px;
}

.hidden {
  display: none !important;
  visibility: none !important;
}

.h-0 {
  height: 0 !important;
}

.w-0 {
  width: 0 !important;
}
