.mdl-textfield {
  width: 100%;
}

.mdl-textfield.has-error .mdl-textfield__error {
  visibility: visible;
}

.mdl-textfield.has-error .mdl-textfield__input {
  border-color: #d50000;
  box-shadow: none;
}

.mdl-textfield.has-error .mdl-textfield__label:after {
    background-color: #d50000;
}
