.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.light-weight {
  font-weight: 300 !important;
}

.normal {
  font-weight: 500 !important;
}

.heavy-weight {
  font-weight: 600 !important;
}

.over-weight {
  font-weight: 900 !important;
}

.italic {
  font-style: italic !important;
}

.wide {
  letter-spacing: .2rem;
  line-height: 1.5;
}

.uppercase {
  text-transform: uppercase;
}

.light-grey {
  color: #737478;
}
