.light-weight {
  font-weight: 300;
}

.normal {
  font-weight: 500;
}

.heavy-weight {
  font-weight: 600;
}

.over-weight {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.wide {
  letter-spacing: .2rem;
  line-height: 1.5;
}

.uppercase {
  text-transform: uppercase;
}
